	<ion-view view-title="Tu Negocio" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title>Tu Negocio</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-tu_negocio" class="page-tu_negocio">
		<ion-list>
  <ion-item class="item-icon-left firstcolor" ng-href="#/goblackdiamond/despierta">
    <i class="icon ion-android-happy"></i>
    Despierta
      <span class="item-note">
     Realidad Económica
    </span>
    
    
  </ion-item>

  <ion-item class="icon-left item-icon-left firstcolor" ng-href="#/goblackdiamond/comparte">
    <i class="icon ion-android-share-alt"></i>
    Comparte
     <span class="item-note">
     Testimonios
    </span>
  </ion-item>

  <ion-item class="item-icon-left firstcolor" ng-href="#/goblackdiamond/apoyos">
    <i class="icon ion-help-buoy"></i>
    Apoyos
    <span class="item-note">
     Videos, PDF, JPG
    </span>
  </ion-item>
 

  <ion-item class="item-icon-left firstcolor">
    <i class="icon ion-ios-body"></i>
    Preparate
     <span class="item-note">
     Videos
    </span>
  </ion-item>
     
    <ion-item class="item-icon-left firstcolor" ng-href="#/goblackdiamond/arranca">
    <i class="icon ion-android-walk"></i>
    Arranca
       <span class="item-note">
     Videos, PDF
    </span>
  </ion-item>
     
    <ion-item class="item-icon-left firstcolor" >
    <i class="icon ion-ios-briefcase"></i>
    Oficina
       <span class="item-note">
     Videos varios
    </span>
  </ion-item>

    <ion-item class="item-icon-left firstcolor" ng-href="#/goblackdiamond/criptomonedas">
    <i class="icon ion-social-bitcoin-outline"></i>
    Criptomonedas
       <span class="item-note">
    Videos varios
    </span>
  </ion-item>
  
    <ion-item class="item-icon-left firstcolor" ng-href="#/goblackdiamond/tica_y_legal">
    <i class="icon ion-android-hand"></i>
    Etica y Legal
       <span class="item-note">
    Texto y Videos
    </span>
  </ion-item>
   
    <ion-item class="item-icon-left firstcolor" ng-href="#/goblackdiamond/desarrollo_personal">
    <i class="icon ion-pie-graph"></i>
   Desarrollo personal
       <span class="item-note">
     Audios, cursos
    </span>
  
     </ion-item>
</ion-list>




		</ion-content>
		<!-- ./content -->
	</ion-view>
