	<ion-view view-title="Vivencias" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title>Vivencias</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-vivencias" class="page-vivencias">
		<div class="padding">
  <div class="firstcolor" >
    <h4>Vivencias</h4>
    <p>This page is under construction. Please come back soon!</p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
