	<ion-view view-title="Nosotros" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title>Nosotros</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-quienessomos" class=" page-quienessomos">
		<div class="padding">
  <div class="firstcolor">
    <p>QUIENES SOMOS</p> <br>

<p>Somos un grupo EMPRENDEDOR de varios países, desarrollando y promoviendo proyectos basados en el sistema MULTINIVEL desde hace varios años.</p>

<br> 

<p>Nuestros objetivos son:</p><br>

<p>COMPARTIR oportunidades que permitan obtener ingresos adicionales.</p>
<p>DESARROLLAR personal y profesionalmente a nuestros equipos.</p>
<p>FORJAR vínculos y relaciones con visión de largo plazo.</p>
    <p>MEJORAR sustentablemente la calidad de vida de nuestro equipo.</p>
  </div>
</div>
<div class="text-center">
	<a class="" ng-href="#/goblackdiamond/dashboard">Regresar</a>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
