	<ion-view view-title="{{ despertar.title.rendered }}" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title>{{ despertar.title.rendered }}</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"  scroll="true"   id="page-despertar_singles" class="page-despertar_singles">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">

					<!-- heading-1 -->
					<div class="item item-divider"  ng-bind-html="despertar.title.rendered | to_trusted">{{despertar.title.rendered}}</div>
					<!-- ./heading-1 -->

					<!-- text -->
					<div class="item"><span class="subdued" ><span class="icon ion-android-calendar"> {{despertar.x_date}}</span></span></div>
					<!-- ./text -->

					<!-- text -->
					<div class="item"><span class="subdued" ><span class="icon ion-android-contact"> {{despertar.x_author}}</span></span></div>
					<!-- ./text -->

					<!-- images -->
					<div class="item noborder"><img class="full-image" ng-src="{{despertar.x_featured_media_original}}"  zoom-view="true" zoom-src="{{despertar.x_featured_media_original}}"/></div>
					<!-- ./images -->

					<!-- to_trusted -->
					<div class="item item-text-wrap noborder to_trusted" ng-bind-html="despertar.content.rendered | strHTML"></div>
					<!-- ./to_trusted -->

					<!-- text -->
					<div class="item"><span class="subdued" ><span class="icon ion-ios-pricetags"> {{despertar.x_tags}}</span></span></div>
					<!-- ./text -->

					<!-- text -->
					<div class="item"><span class="subdued" ><span class="icon ion-bookmark"> {{despertar.x_categories}}</span></span></div>
					<!-- ./text -->

					<!-- share_link -->
					<div class="item">
						<button run-social-sharing message="{{ despertar.link }}" class="button button-small ion-android-share-alt button-outline button-positive icon-left">Share Link</button>
					</div>
					<!-- ./share_link -->

					<!-- link -->
					<div class="item item-button"><a class="button button-colorful ink-dark" ng-click="openURL(despertar.link)">Link</a></div>
					<!-- ./link -->
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
