	<ion-view view-title="MISION" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title>MISION</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-mision" class=" page-mision">
		<div class="padding">
  <div class="firstcolor">
    <p> Crear LÍDERES conscientes del impacto que tienen en su entorno social.</p>
    
<p>Lograr Liderazgo sustentable a través de INFORMACIÓN unificada que asesora y capacita a todo aquel que inicia profesionalmente en este negocio; por medio de herramientas técnicas y de desarrollo personal, facilitando el camino hacia el ÉXITO.</p>
  </div>
</div>
<div class="text-center">
	
  <a class="" ng-href="#/goblackdiamond/dashboard">Regresar</a>

</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
