	<ion-view view-title="Bienvenido" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title>Bienvenido</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
				<div class="dashboard-panel">
        <ion-content>
   <iframe width="100%" height="auto" src="http://www.youtube.com/embed/ZjPRj2Vp74U" frameborder="2" allowfullscreen></iframe>
<br><br><br />
<div class="text-center">
	<a class="button button-dark ion-ios-people-outline" ng-href="#/goblackdiamond/quienessomos"> quienes somos</a>

</div><br>
          <div class="text-center">
	<a class="button button-dark ion-android-bulb" ng-href="#/goblackdiamond/mision"> Mision</a>

</div><br>
          <div class="text-center">
	<a class="button button-dark ion-eye" ng-href="#/goblackdiamond/vision"> Vision</a>

</div>

          
          </ion-content>
      

 

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
