	<ion-view view-title="VISION" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title>VISION</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-vision" class=" page-vision">
		<div class="padding">
  <div class="firstcolor">
   <p> Somos la MEJOR alternativa de capacitación y entrenamiento en la industria del Mercadeo en Red a nivel global.<p>

<p>Logramos que nuestros socios generen INGRESOS adicionales, gracias a que trabajamos en COMUNIDAD, donde el resultado en equipo es altamente valorado e incentivado.</p><p> Todo esto gracias a las mejores plataformas de COMERCIO ELECTRÓNICO.</p>
  </div>

 
</div>
<div class="text-center">
	<a class="" ng-href="#/goblackdiamond/dashboard">Regresar</a>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
